[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/x-matroska;
Actions=_SEPARATOR_;mkv-edit-title;mkv-delete-title
TryExec=mkv-edit-title
X-KDE-Submenu=MKV Actions

[Desktop Action mkv-edit-title]
Name=Edit the title of the files
Name[fr]=Modifier le titre des fichiers
Icon=tag-edit
Exec=mkv-edit-title %U

[Desktop Action mkv-delete-title]
Name=Delete the title of the files
Name[fr]=Effacer le titre des fichiers
Icon=tag-delete
Exec=mkv-delete-title %U
